{% extends "layout.html" %}

{% block content %}
<style type="text/css">
    .btn-default{
        text-shadow: none;
        background-color: gray;
    }
    .error{
        color: red;
        white-space: pre;
    }
    body{
        color: white;
    }
    .tooltip, .tooltip-inner{
        background-color:gray;
        color: white;
    }
    
    .form-control{
        color:black;
    }

</style>
<script type="text/javascript" src="static/js/teacherFormController.js"></script>


<div class="container" id="container" ng-controller="TeacherFormController">
    <br id="top" />
    <div class="alert alert-success alert-dismissible" role="alert" id="submitSuccess" ng-hide="!submissionSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ '{{submissionMsg}}' }}
    </div>

    <div class="alert alert-warning alert-dismissible" role="alert" id="submitFail" ng-hide="!submissionFailure">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;{{ '{{submissionMsg}}' }}
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <h3>Teacher Practicum Form</h3>
        </div>
        <br /><br /><br />
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <form name="studentForm" method="post" action="" ng-submit="submit()">
                <div class="form-group" ng-class="{'has-error': invalidFirstName}">
                    <span>First Name</span><span ng-if="firstName===undefined || invalidFirstName"><small class="error">&nbsp;&nbsp;*</small></span>
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="firstName" ng-blur="validateFirstName()" required>
                    <span class="error" ng-if="invalidFirstName"><em>Invalid first name</em></span>
                </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': invalidLastName}">
                <span>Last Name</span><span ng-if="lastName===undefined || invalidLastName"><small class="error">&nbsp;&nbsp;*</small></span>
                <input type="text" class="form-control" name="lastname" id="lastname" ng-model="lastName" ng-blur="validateLastName()" required>
                <span class="error" ng-if="invalidLastName"><em>Invalid last name</em></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group" ng-class="{'has-error': invalidEmail}">
                <span>School Email</span><span ng-if="email===undefined || invalidEmail"><small class="error">&nbsp;&nbsp;*</small></span>
                <input type="email" class="form-control" name="email" id="email" ng-model="email" ng-blur="validateEmail()" required>
                <span class="error" ng-if="invalidEmail"><em>Invalid email</em></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <span>School Division</span>
                        <select class="form-control" id="division" name="division" ng-model="schoolDivision" ng-change="changeSchoolDivision(schoolDivision)" required>
                            <option ng-repeat="div in schoolDivisions">{{ '{{div.division}}' }}</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <span>School</span>
                        <select class="form-control" id="school" name="school" ng-model="school" ng-change="changeSchool(school)" required>
                            <option ng-repeat="school in getSchools() | orderBy:school">{{ '{{school}}' }}</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" ng-if="school==='Other'">
                        <br/>
                        <div class="form-group">
                            <span>Enter School Name:</span>
                            <input type="text" class="form-control" name="otherSchool" id="otherSchool" ng-model="otherSchool" ng-change="print(otherSchool)" ng-blur="validatePracticum(previousPractica.indexOf(item), true)" required>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-7 col-md-offset-1" ng-class="">
                        <span class="error" ng-bind="practicaErrorMsg[previousPractica.indexOf(item)]"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <div class="form-group">
                <br />
                <!--<input type="submit" class="btn btn-primary" value="Submit" ng-disabled="formIsInvalid()">-->
                <input type="button" class="btn btn-primary" value="Submit" ng-click="submit()" ng-disabled="formIsInvalid()">
            </div>
        </div>
    </div>
    </form>

</div><br />

{% endblock %}
