{% extends "layout.html" %} {% block content %}

<div class="container">
<div class="jumbotron">
    <h1>Practicum Organizer</h1>
    <p>Welcome to the practicum program P.O Box! This is a program written by Lisa Carter, Bryan Nosar, Spencer Scott and Sheldon McClung</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</div>


<div class="container">
  <div class="panel panel-default col-md-5">
  <div class="panel-body" style="text-align:center">
    <h3>I am a Student!</h3>
    <a class="btn btn-primary btn-lg" href="/student">Click here!</a>
  </div>
</div>

<div class="col-md-2"></div>

<div class="panel panel-default col-md-5">
  <div class="panel-body" style="text-align:center">
    <h3>I am a Teacher!</h3>
    <a class="btn btn-primary btn-lg" href="/teacher">Click Here!</a>
  </div>
</div>  
</div>




{% endblock %}
