{% extends "layout.html" %} {% block content %}

<script type="text/javascript" src="static/js/loginController.js"></script>

<div ng-controller="LoginController">

    <div class="container">
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if "logged out" in message %}
                    
                    <div class="alert alert-success alert-dismissible" role="alert" id="loginError" style='display:none'>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;Success: {{ message }}
                    </div>
                    
                    {% else %}
                    
                    <div class="alert alert-warning alert-dismissible" role="alert" id="loginError" style='display:none'>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;&nbsp;Error: {{ message }}
                    </div>
                    
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title" style=" color:white">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a id="forgotPassword" style=" color:white" href="#">Forgot password?</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <form id="loginform" class="form-horizontal" role="form" method="POST" action="/practica">
                        <div style="margin-bottom: 25px" class="input-group" id="usernameDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                        </div>
                        <div style="margin-bottom: 25px" class="input-group" id="passwordDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-md-5">
                                <a class="btn btn-primary" style="width:100%;margin-bottom:5px;" href="/"><strong>Home</strong></a>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-success" style="width:100%;margin-bottom:5px;"><strong>Login</strong></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="forgotPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content panel-primary">

                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-center">Forgot Password?</h2>
                </div>

                <div class="modal-body">
                    <h3 class="text-danger text-center"><strong>Are you sure you want to reset your password?</strong></h3>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" style="width:100%;"><strong>No</strong></button>
                        </div>
                        <div class="col-md-6">
                            <a type="button" id="yesReset" class="btn btn-success" style="width:100%;" ng-click="forgotPassword()"><strong>Yes</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="resetPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-center">Reset Password?</h2>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="resetMessageBox" style='display:none'></div>
                    <h3 class="text text-center"><strong>An access code was sent to your email. Please input the code to reset your password. </strong></h3>
                    <br>

                    <form id="resetform" class="form-horizontal" role="form" ng-submit="resetPassword()">

                        <div style="margin-bottom: 25px" class="input-group" id="resetUsernameDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="accessCodeUsername" type="text" class="form-control" name="accessCodeUsername" value="" placeholder="username or email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group" id="resetPasswordDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="accessCode" type="text" class="form-control" name="accessCode" placeholder="Access Code">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-md-5"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-success" style="width:100%;margin-bottom:5px;">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div id="updatePasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content panel-primary">
                <div class="modal-header panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-center">Enter New Password</h2>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" id="updateMessageBox" style='display:none'></div>
                    <h3 class="text text-center"><strong>Please enter in a new password twice.</strong></h3>
                    <br>

                    <form id="updateform" class="form-horizontal" role="form" ng-submit="updatePassword()">

                        <div style="margin-bottom: 25px" class="input-group" id="resetUsernameDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group" id="resetPasswordDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="resetPassword1" type="password" class="form-control" name="resetPassword1" placeholder="password">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group" id="resetPasswordDiv">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="resetPassword2" type="password" class="form-control" name="resetPassword2" placeholder="password">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-md-5"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-success" style="width:100%;margin-bottom:5px;">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    (function() {
            var e = document.getElementById("usernameDiv");
            e.parentNode.removeChild(e);
        }
    )();
    
    (function() {
            var e = document.getElementById("resetUsernameDiv");
            e.parentNode.removeChild(e);
        }
    )();
    
    (function() {
            var e = document.getElementById("resetUsernameDiv");
            e.parentNode.removeChild(e);
        }
    )();
    
    (function() {
            var e = document.getElementById("loginError");
            if(e){
                $("#loginError").fadeIn(600).delay(3000).fadeOut(600);
            }
        }
    )();

    
    $('#forgotPassword').click(function() {
        $('#forgotPasswordModal').modal('show');
        return false;
    })
    
    
</script>

{% endblock %}
