{% extends "layout.html" %}

{% block content %}
<style type="text/css">
    .btn-default{
        color:#0b0a0a  !important;
        text-shadow: none;
    }
    .error{
        color: red;
        white-space: pre;
    }
    .list-group-item[active]{
        background-color: #ebebeb;
        color:#0b0a0a  !important;
    }
    
    #studentSide{
        border-right: 5px solid black;
    }
    
    .popover-content{
        height: 200px;
        overflow-y: scroll;
    }
</style>
<script type="text/javascript" src="static/js/assignPracticumController.js"></script>

<script type="text/ng-template" id="popover.student.tpl.html">
    <div class="popover" tabindex="-1">
        <div class="arrow"></div>
            <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
        <div class="popover-content">
            <div class="table-responsive">
                <table class="table text-center">
                    <tbody>
                      <tr>
                        <td><h4 ng-bind="student.firstName + '  ' + student.lastName"></h4></td
                      </tr>
                      <tr>
                        <td ng-bind="student.email"></td>
                      </tr>
                      <tr>
                        <td ng-bind="getTransportationString(student)"></td>
                      </tr>
                      <tr>
                        <td>Enrolled In:</td>
                      </tr>
                      <tr>
                        <td ng-bind="student.enrolledClasses"></td>
                      </tr>
                      <tr>
                        <td>Endorsements:</td>
                      </tr>
                      <tr>
                        <td ng-bind="student.endorsements"></td>
                      </tr>
                      <tr>
                        <td><h5>Availability:</h5></td>
                      </tr>
                      <tr ng-repeat="av in student.availability">
                        <td ng-bind="getAvailabilityString(av)"></td>
                      </tr>
                      <tr>
                        <td><h5>Previous Practica:</h5></td>
                      </tr>
                      <tr ng-repeat="prac in student.previousPractica">
                        <td ng-bind="prac.school + ' - ' + prac.grade + prac.course"></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>


<div class="container" ng-controller="AssignPracticumController">
    <br /> 
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <!--<h3>Practicum Assignment</h3>-->
        </div>
        <br /><br /><br />
    </div>
    
    <div class="row">
        <div class="col-md-6" id="studentSide">
            <h4>Students</h4>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <span>Filter By</span><br/><br/>
                    <div class="form-group">
                        <span>Practicum-Bearing Class:
                        <select class="form-control" id="practicumBearing" name="practicumBearing" ng-model="$parent.enrolledClasses">
                            <option ng-repeat="item in practicumBearingClasses">{{ '{{item}}' }}</option>
                        </select></span>
                    </div><br />
                    <div class="form-group">
                        <span>Endorsement:
                        <select class="form-control" id="endorsement" name="endorsement" ng-model="$parent.endorsementSought">
                            <option ng-repeat="item in endorsements">{{ '{{item}}' }}</option>
                        </select></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div slim-scroll height="350px">
                        <ul class="list-group">
                            <button class="list-group-item" ng-repeat="student in students"  
                            ng-model="$parent.student" data-template-url="popover.student.tpl.html" container="body" auto-close="true" 
                            data-html="true" ng-click="setCurrentStudent(student)" bs-popover>
                                <span ng-bind="student.firstName"></span>&nbsp;
                                <span ng-bind="student.lastName"></span>
                            </button>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Teachers</h4>
        </div>
    </div>

</div><br />

{% endblock %}
